{% import "_macros.html" as macros %}

<!-- Template for links
    {{ macros.link(
        "Line 1 Title", ": Line 1 Subtitle",
        "Line 2 (Venue, City, State)",
        "Line 3 (Month DD, YYYY)",
        "link URL",
        "thumbnail URL",
        "thumbnail alt-text"
    )}}
-->

<!-- Sweat.biz 2/4/24 -->
{{ macros.link(
    "🎫 FREE SHOW", ": Sweat.Biz",
    "Whistle Stop, San Diego, CA",
    "February 4, 2024",
    "https://ra.co/events/1850088",
    "images/sweatdotbiz.png",
    "show poster for sweat dot biz"
)}}

<!-- Gilded Sentience -->
{{ macros.link(
    "💿 MUSIC", ": Gilded Sentience",
    "Solarpunk Jungle and Liquid DnB EP",
    "LISTEN NOW",
    "https://distrokid.com/hyperfollow/augnos/gilded-sentience",
    "images/gilded_sentience.jpg",
    "album art for gilded sentience"
)}}

<!-- Photography Portfolio -->
{{ macros.link(
    "📸 PHOTOGRAPHY PORTFOLIO", "",
    "Music, event, and nightlife photography",
    "augnos.com",
    "https://augnos.com",
    "images/george.jpg",
    "george clanton in front of an audience at electronicon 3"
)}}

<!-- Flamingo Fest Day 1, 11/03/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Flamingo Fest, Day 1",
    "High Tide, Los Angeles , CA",
    "November 3, 2023",
    "https://drive.google.com/open?id=1vw5Py7CQygCFN_-t26-tWPG0rh-fC62p&usp=drive_fs",
    "images/3peacesweetz.jpg",
    "3 peace sweetz performing at high tide on los angeles"
)}}

<!-- Flamingo Fest Day 2, 11/04/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Flamingo Fest, Day 2",
    "Catch One, Los Angeles , CA",
    "November 4, 2023",
    "https://drive.google.com/open?id=1vyR6ZMX4QFG0yeGe88IliJd4TKT8hBRa&usp=drive_fs",
    "images/auragraph.jpg",
    "auragraph looking into the camera as he twists a knob while performing at flamingo fest at catch one, los angeles"
)}}

<!-- Crystal Nostalgia, 09/23/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Crystal Nostalgia (Sep 2023)",
    "High Tide, Los Angeles , CA",
    "September 23, 2023",
    "https://drive.google.com/open?id=19x-i7XTD21lRfhmRQjI-OzAT9DMH_fwq&usp=drive_fs",
    "images/datagirl.jpg",
    "Datagirl djing and pointing at the camera at high tide in los angeles for crystal nostalgia"
)}}

<!-- Tape Swap & Chill, 08/27/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Tape Swap & Chill 4",
    "Eris, Brookyln, NY",
    "August 27, 2023",
    "https://drive.google.com/open?id=18ZfvYfisj15jYu9OczFQdx66FVPS1rmN&usp=drive_fs",
    "images/popcultr.jpg",
    "popculrt djing in the dungeon of Eris in brooklyn new york"
)}}

<!-- Electronicon Day 1, 08/25/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Electronicon 2023, Day 1",
    "Knockdown Center, Queens, NY",
    "August 25, 2023",
    "https://drive.google.com/open?id=1b-0Fy3RSI8HPfcefNDZdaAruP9Rdz3Es&usp=drive_fs",
    "images/neon_vectors.jpg",
    "neon vectors on stage at electronicon 2023"
)}}

<!-- Electronicon Day 2, 08/26/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Electronicon 2023, Day 2",
    "Knockdown Center, Queens, NY",
    "August 26, 2023",
    "https://drive.google.com/open?id=1RX3FSGkbJ9CUHoR-frjBK23yGKFv3rGS&usp=drive_fs",
    "images/dds2.jpg",
    "all 3 members of death's dynamic shroud on stage at electronicon 2023"
)}}

<!-- Summer Slushy Fest, 08/24/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Summer Slushy Fest",
    "The Meadows, Brooklyn, NY",
    "August 24, 2023",
    "https://drive.google.com/open?id=1_c8l628f2W1nmFKZNELYc5isdgLwPW8M&usp=drive_fs",
    "images/slushyfest.jpg",
    "an attendee standing in front of a projector at summer slushy fest"
)}}

<!-- Crystal Nostalgia, 07/22/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Crystal Nostalgia (Jul 2023)",
    "High Tide, Los Angeles , CA",
    "July 23, 2023",
    "https://drive.google.com/open?id=1uvtBKQYynYYTUyFrDzaUVKC1DzMjxA_6&usp=drive_fs",
    "images/crystal_nostalgia2.jpg",
    "AHBL djing and standing in front of the crystal nostalgia wall light logo"
)}}

<!-- Enraile, Datagirl, Vaperror, 07/20/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Enraile, Datagirl, Vaperror",
    "Resident, Los Angeles , CA",
    "July 20, 2023",
    "https://drive.google.com/drive/folders/1Ucdasvjka71Ysaq3VSgMALIuQnX5PF4n?usp=sharing",
    "images/resident.jpg",
    "enraile at resident los angeles"
)}}

<!-- Crystal Nostalgia, 06/24/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Crystal Nostalgia (Jun 2023)",
    "High Tide, Los Angeles , CA",
    "June 24, 2023",
    "https://drive.google.com/open?id=18vPoNPy3-2Ftthuy2q9iSzDI-J179TBR&usp=drive_fs",
    "images/crystal_nostalgia.jpg",
    "groovy kaiju wearing a crystal nostalgia shirt in front of an audience in los angeles"
)}}

<!-- Sara Jayne Birthday Party, 06/09/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sara's Sailor Moon Birthday",
    "The Starry Plough, Oakland, CA",
    "June 09, 2023",
    "https://drive.google.com/open?id=1yiJOeJDX6FHMrgu0czkjaFhP2tT3j4vx&usp=drive_fs",
    "images/sailor_moon_bday.jpg",
    "A nightclub photo of a full crowd posing for a shot during Sailor Rave at Lion's Den in San Francisco"
)}}

<!-- Wipeout: 1997, 05/20/23 -->
{{ macros.link(
    "🎧 LIVE DJ MIX", ": May 2023",
    "from Wipeout: 1997 @ Golden Bear",
    "Jungle, Liquid Drum and Bass",
    "https://youtu.be/KfW-oz_u3Aw",
    "images/wipeout_2.png",
    "an ai render of two racing space ships flying on a track towards a city"
)}}

<!-- Wipeout: 1997, 03/18/23 -->
{{ macros.link(
    "🎧 LIVE DJ MIX", ": March 2023",
    "from Wipeout: 1997 @ Golden Bear",
    "Jungle, Liquid Drum and Bass",
    "https://youtu.be/CVUhB7_cmgw",
    "images/wipeout_1.png",
    "an ai render of two racing spaceships falling towards a track"
)}}

<!-- Sailor Rave, K-Pop Edition, 03/16/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sailor Rave: SF",
    "The Lion's Den, San Francisco, CA",
    "March 16, 2023",
    "https://drive.google.com/drive/folders/1zIAyJaNh5Ll7J7sir9dC54IFsJoOr12n?usp=sharing",
    "images/sailor_rave_lions_den.jpg",
    "A nightclub photo of a full crowd posing for a shot during Sailor Rave at Lion's Den in San Francisco"
)}}

<!-- FrankJavCee Birthday, 02/24/23 -->
{{ macros.link(
    "📸 PHOTOS", ": FrankJavCee's Birthday Party",
    "Valley Relics Museum, Van Nuys, CA",
    "February 24, 2023",
    "https://drive.google.com/drive/folders/1ekttXpSTJ6hidYEL3qkuWx70_D9eo4Gn?usp=sharing",
    "images/fjc_birthday.jpg",
    "neon lights shining on a vaporwave party in the Valley Relics Museum"
)}}

<!-- Yoi Toki SF Photos, 02/11/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Yoi Toki",
    "Rickshaw Stop, San Francisco, CA",
    "February 11, 2023",
    "https://www.facebook.com/media/set/?set=a.168268832636052&type=3",
    "images/yoi_toki_sf_2.jpg",
    "A nightclub portrait of a woman looking back and giving a peace sign on stage at Rickshaw Stop during Yoi Toki"
)}}

<!-- Sailor Rave, K-Pop Edition, 02/03/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sailor Rave: K-Pop Edition",
    "Elbo Room, Oakland, CA",
    "February 3, 2023",
    "https://drive.google.com/drive/folders/160izgR_D9CXJnzzrNkf58bSKtFX8TYPZ?usp=share_link",
    "images/sailor_rave_kpop.jpg",
    "A nightclub photo of a full crowd at the Elbo Room, Oakland during Sailor Rave K-pop Edition"
)}}

<!-- Shrek Rave, 12/03/22 -->
{{ macros.link(
    "📸 PHOTOS", ": Shrek Rave",
    "Ace of Spades, Sacramento, CA",
    "December 3, 2022",
    "https://drive.google.com/drive/folders/1W3_jbyecz1KSB2BV6GPQ82LTrFw7erVa?usp=sharing",
    "images/shrek_rave.jpg",
    "A full crowd at the Ace of Spades, Sacramento during Shrek Rave"
)}}

<!-- Yoi Toki SF Photos, 10/15/22 -->
{{ macros.link(
    "📸 PHOTOS", ": Yoi Toki",
    "Rickshaw Stop, San Francisco, CA",
    "October 15, 2022",
    "https://www.facebook.com/media/set?vanity=YoiTokiEvents&set=a.135359642593638",
    "images/yoi_toki_sf.jpg",
    "A nightclub portrait of a group of cool people in light-up shutter glasses on stage at Yoi Toki San Francisco"
)}}

<!-- Vaporspace Invaders Photos -->
{{ macros.link(
    "📸 PHOTOS", ": Vaporspace: Invaders",
    "Purgatory, Brooklyn, NY",
    "August 21, 2022",
    "https://drive.google.com/drive/folders/1-m_YInfIPL2Qf9LaimCmXEHibRIjiiQL?usp=sharing",
    "images/eye_click.jpg",
    "A meme portrait of Enraile seemingly yelling at Will Wade of 👁‍🗨📲 on stage at Purgatory"
)}}

<!-- Electronicon 3 Photos -->
{{ macros.link(
    "📸 PHOTOS", ": ElectroniCON 3",
    "Knockout Center, Queens, NY",
    "August 20, 2022",
    "https://drive.google.com/drive/folders/1-lHjLmP40JVtU8vdkQnN7d80i2R34n52?usp=sharing",
    "images/dds.jpg",
    "A photograph of James and Tech Honors of Death's Dynamic Shroud on stage at Electronicon 3"
)}}


<!-- Tape Swap 3 Photos -->
{{ macros.link(
    "📸 PHOTOS", ": Vaporwave Tape Swap 3",
    "The Living Gallery, Brooklyn, NY",
    "August 19, 2022",
    "https://drive.google.com/drive/folders/1vpsq59xKug4Q4kayVhlK3FHJN4Oz7_WF?usp=sharing",
    "images/george_and_indy.jpg",
    "A portrait of George Clanton and Indy Advant outside of the Living Gallery in Brooklyn"
)}}