{% import "_macros.html" as macros %}

<!-- Template for links
    {{ macros.link(
        "Line 1 Title", ": Line 1 Subtitle",
        "Line 2 (Venue, City, State)",
        "Line 3 (Month DD, YYYY)",
        "link URL",
        "thumbnail URL",
        "thumbnail alt-text"
    )}}
-->


<!-- Gilded Sentience -->
{{ macros.link(
    "💿 MUSIC", ": Gilded Sentience",
    "Solarpunk Jungle and Liquid DnB EP",
    "LISTEN NOW",
    "https://distrokid.com/hyperfollow/augnos/gilded-sentience",
    "images/gilded_sentience.jpg",
    "album art for gilded sentience"
)}}

<!-- Photography Portfolio -->
{{ macros.link(
    "📸 PHOTOGRAPHY PORTFOLIO", "",
    "Music, event, and nightlife photography",
    "augnos.media",
    "https://augnos.media/portfolio",
    "images/george.jpg",
    "george clanton in front of an audience at electronicon 3"
)}} 