{% import "_macros.html" as macros %}

<!-- Template for links
    {{ macros.link(
        "Line 1 Title", ": Line 1 Subtitle",
        "Line 2 (Venue, City, State)",
        "Line 3 (Month DD, YYYY)",
        "link URL",
        "thumbnail URL",
        "thumbnail alt-text"
    )}}
-->

<!-- Gilded Sentience -->
{{ macros.link(
    "🌿☀️📀 GILDED SENTIENCE", "",
    "Solarpunk Jungle and Liquid DnB EP",
    "LISTEN NOW",
    "https://distrokid.com/hyperfollow/augnos/gilded-sentience",
    "images/gilded_sentience.jpg",
    "album art for gilded sentience"
)}}

<!-- Gilded Sentience Tape-->
{{ macros.link(
    "🌿☀️📀 GILDED SENTIENCE", " Cassette",
    "Limited Edition of 50",
    "BUY NOW",
    "https://pacificplaza.bandcamp.com/album/gilded-sentience",
    "images/gs_tape.jpg",
    "album art for gilded sentience"
)}}

<!-- Crystal Nostalgia, 06/24/23
{{ macros.link(
    "🎫 TICKETS", ": Crystal Nostalgia",
    "High Tide, Los Angeles , CA",
    "June 24, 9pm-2am / 21+",
    "https://restlessnites.com/events/crystalnostalgia24jun2023",
    "images/crystal_nostalgia.png",
    "concert flyer for crystal nostlgia"
)}} -->

<!-- Photography Portfolio -->
{{ macros.link(
    "📸 PHOTOGRAPHY PORTFOLIO", "",
    "Music, event, and nightlife photography",
    "augnos.com",
    "https://augnos.com",
    "images/george.jpg",
    "george clanton in front of an audience at electronicon 3"
)}}

<!-- Sara Jayne Birthday Party, 06/09/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sara's Sailor Moon Birthday",
    "The Starry Plough, Oakland, CA",
    "June 09, 2023",
    "https://drive.google.com/open?id=1yiJOeJDX6FHMrgu0czkjaFhP2tT3j4vx&usp=drive_fs",
    "images/sailor_moon_bday.jpg",
    "A nightclub photo of a full crowd posing for a shot during Sailor Rave at Lion's Den in San Francisco"
)}}

<!-- Wipeout: 1997, 05/20/23 -->
{{ macros.link(
    "🎧 LIVE DJ MIX", ": May 2023",
    "from Wipeout: 1997 @ Golden Bear",
    "Jungle, Liquid Drum and Bass",
    "https://youtu.be/KfW-oz_u3Aw",
    "images/wipeout_2.png",
    "an ai render of two racing space ships flying on a track towards a city"
)}}

<!-- Wipeout: 1997, 03/18/23 -->
{{ macros.link(
    "🎧 LIVE DJ MIX", ": March 2023",
    "from Wipeout: 1997 @ Golden Bear",
    "Jungle, Liquid Drum and Bass",
    "https://youtu.be/CVUhB7_cmgw",
    "images/wipeout_1.png",
    "an ai render of two racing spaceships falling towards a track"
)}}

<!-- Sailor Rave, K-Pop Edition, 03/16/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sailor Rave: SF",
    "The Lion's Den, San Francisco, CA",
    "March 16, 2023",
    "https://drive.google.com/drive/folders/1zIAyJaNh5Ll7J7sir9dC54IFsJoOr12n?usp=sharing",
    "images/sailor_rave_lions_den.jpg",
    "A nightclub photo of a full crowd posing for a shot during Sailor Rave at Lion's Den in San Francisco"
)}}

<!-- FrankJavCee Birthday, 02/24/23 -->
{{ macros.link(
    "📸 PHOTOS", ": FrankJavCee's Birthday Party",
    "Valley Relics Museum, Van Nuys, CA",
    "February 24, 2023",
    "https://drive.google.com/drive/folders/1ekttXpSTJ6hidYEL3qkuWx70_D9eo4Gn?usp=sharing",
    "images/fjc_birthday.jpg",
    "neon lights shining on a vaporwave party in the Valley Relics Museum"
)}}

<!-- Yoi Toki SF Photos, 02/11/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Yoi Toki",
    "Rickshaw Stop, San Francisco, CA",
    "February 11, 2023",
    "https://www.facebook.com/media/set/?set=a.168268832636052&type=3",
    "images/yoi_toki_sf_2.jpg",
    "A nightclub portrait of a woman looking back and giving a peace sign on stage at Rickshaw Stop during Yoi Toki"
)}}

<!-- Sailor Rave, K-Pop Edition, 02/03/23 -->
{{ macros.link(
    "📸 PHOTOS", ": Sailor Rave: K-Pop Edition",
    "Elbo Room, Oakland, CA",
    "February 3, 2023",
    "https://drive.google.com/drive/folders/160izgR_D9CXJnzzrNkf58bSKtFX8TYPZ?usp=share_link",
    "images/sailor_rave_kpop.jpg",
    "A nightclub photo of a full crowd at the Elbo Room, Oakland during Sailor Rave K-pop Edition"
)}}

<!-- Shrek Rave, 12/03/22 -->
{{ macros.link(
    "📸 PHOTOS", ": Shrek Rave",
    "Ace of Spades, Sacramento, CA",
    "December 3, 2022",
    "https://drive.google.com/drive/folders/1W3_jbyecz1KSB2BV6GPQ82LTrFw7erVa?usp=sharing",
    "images/shrek_rave.jpg",
    "A full crowd at the Ace of Spades, Sacramento during Shrek Rave"
)}}

<!-- Yoi Toki SF Photos, 10/15/22 -->
{{ macros.link(
    "📸 PHOTOS", ": Yoi Toki",
    "Rickshaw Stop, San Francisco, CA",
    "October 15, 2022",
    "https://www.facebook.com/media/set?vanity=YoiTokiEvents&set=a.135359642593638",
    "images/yoi_toki_sf.jpg",
    "A nightclub portrait of a group of cool people in light-up shutter glasses on stage at Yoi Toki San Francisco"
)}}

<!-- Vaporspace Invaders Photos -->
{{ macros.link(
    "📸 PHOTOS", ": Vaporspace: Invaders",
    "Purgatory, Brooklyn, NY",
    "August 21, 2022",
    "https://drive.google.com/drive/folders/1-m_YInfIPL2Qf9LaimCmXEHibRIjiiQL?usp=sharing",
    "images/eye_click.jpg",
    "A meme portrait of Enraile seemingly yelling at Will Wade of 👁‍🗨📲 on stage at Purgatory"
)}}

<!-- Electronicon 3 Photos -->
{{ macros.link(
    "📸 PHOTOS", ": ElectroniCON 3",
    "Knockout Center, Queens, NY",
    "August 20, 2022",
    "https://drive.google.com/drive/folders/1-lHjLmP40JVtU8vdkQnN7d80i2R34n52?usp=sharing",
    "images/dds.jpg",
    "A photograph of James and Tech Honors of Death's Dynamic Shroud on stage at Electronicon 3"
)}}


<!-- Tape Swap 3 Photos -->
{{ macros.link(
    "📸 PHOTOS", ": Vaporwave Tape Swap 3",
    "The Living Gallery, Brooklyn, NY",
    "August 19, 2022",
    "https://drive.google.com/drive/folders/1vpsq59xKug4Q4kayVhlK3FHJN4Oz7_WF?usp=sharing",
    "images/george_and_indy.jpg",
    "A portrait of George Clanton and Indy Advant outside of the Living Gallery in Brooklyn"
)}}