<!doctype html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>Photography. Music. Vaporwave.</title>
    <meta name="title" content="Photography. Music. Vaporwave.">
    <meta name="description" content="Shared photo albums, SF Bay Area music events, and other vaporwave related links from Augnos.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://go.augnos.com/">
    <meta property="og:title" content="Photography. Music. Vaporwave.">
    <meta property="og:description" content="Shared photo albums, SF Bay Area music events, and other vaporwave related links from Augnos.">
    <meta property="og:image" content="{{ url_for('static', filename='images/go_augnos_com.jpg') }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://go.augnos.com/">
    <meta property="twitter:title" content="Photography. Music. Vaporwave.">
    <meta property="twitter:description" content="Shared photo albums, SF Bay Area music events, and other vaporwave related links from Augnos.">
    <meta property="twitter:image" content="{{ url_for('static', filename='images/go_augnos_com.jpg') }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    h1,
    #subtitle {
        color: #cccccc;
    }

    .text-vaporwave {
        color: #ff71ce
    }

    .container>.row {
        height: 75%;
    }

    .icon {
        filter: invert(100);
    }
</style>

<body class="text-light">
    <div class="container-fluid pt-3">
        <div class="col-xl-4 col-lg-7 col-md-8 col-10 mx-auto">

            <!-- Header -->
            <div class="row mx-auto">
                <h1 class="text-center text-white fw-lighter">Augnos</h1>
                <p id="subtitle" class="text-center font-monospace">Photography. Music. <span class="text-vaporwave">Vaporwave</span>.</p>
            </div>

            <!-- Social Icons -->
            <div class="row justify-content-around">
                <a href="https://twitter.com/augnosmusic" target="_blank" rel="noopener noreferrer" class="icon col-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='icons/twitter.png') }}" alt="twitter.com/augnosmusic">
                </a>
                <a href="https://instagram.com/augnosmusic" target="_blank" rel="noopener noreferrer"
                    class="icon col-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='icons/ig.png') }}" alt="instagram.com/augnosmusic">
                </a>
                <a href="https://augnos.bandcamp.com" target="_blank" rel="noopener noreferrer" class="icon col-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='icons/bandcamp.png') }}" alt="augnos.bandcamp.com">
                </a>
                <a href="https://linkedin.com/in/augnos" target="_blank" rel="noopener noreferrer" class="icon col-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="linkedin.com/in/augnos">
                </a>
                <a href="https://github.com/augnos" target="_blank" rel="noopener noreferrer" class="icon col-2">
                    <img class="img-fluid" src="{{ url_for('static', filename='icons/github.png') }}" alt="github.com/augnos">
                </a>
            </div>

            <!-- Yoi Toki SF Photos -->
            <a href="https://www.facebook.com/media/set?vanity=YoiTokiEvents&set=a.135359642593638"
                target="_blank" rel="noopener noreferrer"
                class="link row mx-auto py-3 mt-3 bg-dark border border-white border-opacity-75 rounded-5 rounded-start justify-content-between text-light fw-lighter text-decoration-none align-items-center"
                style="--bs-bg-opacity: .65;">
                <img class="img-fluid col-3" src="{{ url_for('static', filename='images/yoi_toki_sf.jpg') }}" alt="A group of cool people in light-up shutter glasses on stage at Yoi Toki San Francisco ">
                <div class="col-9"><span class="text-vaporwave fw-bold">PHOTOS</span>: Yoi Toki SF, Oct 15, 2022</div>
            </a>

            <!-- Vaporspace Invaders Photos -->
            <a href="https://drive.google.com/drive/folders/1-m_YInfIPL2Qf9LaimCmXEHibRIjiiQL?usp=sharing"
                target="_blank" rel="noopener noreferrer"
                class="link row mx-auto py-3 mt-3 bg-dark border border-white border-opacity-75 rounded-5 rounded-start justify-content-between text-light fw-lighter text-decoration-none align-items-center"
                style="--bs-bg-opacity: .65;">
                <img class="img-fluid col-3" src="{{ url_for('static', filename='images/eye_click.jpg') }}" alt="Eye Click meme photo from VaporSpace: Invaders in Brooklyn, New York">
                <div class="col-9"><span class="text-vaporwave fw-bold">PHOTOS</span>: VaporSpace: Invaders, Aug 21, 2022</div>
            </a>

            <!-- Electronicon 3 Photos -->
            <a href="https://drive.google.com/drive/folders/1-lHjLmP40JVtU8vdkQnN7d80i2R34n52?usp=sharing"
                target="_blank" rel="noopener noreferrer"
                class="link row mx-auto py-3 mt-3 bg-dark border border-white border-opacity-75 rounded-5 rounded-start justify-content-between text-light fw-lighter text-decoration-none align-items-center"
                style="--bs-bg-opacity: .65;">
                <img class="img-fluid col-3" src="{{ url_for('static', filename='images/marble.jpg') }}" alt="Reflective marble ballon floating over crowd at FM Skyline's set at ElectroniCON 3">
                <div class="col-9"><span class="text-vaporwave fw-bold">PHOTOS</span>: ElectroniCON 3, Aug 20, 2022</div>
            </a>

            <!-- Tape Swap 3 Photos -->
            <a href="https://drive.google.com/drive/folders/1vpsq59xKug4Q4kayVhlK3FHJN4Oz7_WF?usp=sharing"
                target="_blank" rel="noopener noreferrer"
                class="link row mx-auto py-3 mt-3 bg-dark border border-white border-opacity-75 rounded-5 rounded-start justify-content-between text-light fw-lighter text-decoration-none align-items-center"
                style="--bs-bg-opacity: .65;">
                <img class="img-fluid col-3" src="{{ url_for('static', filename='images/george_and_indy.jpg') }}" alt="George Clanton and Indy Advant posing for a photo at the Vaporwave Tape Swap 3">
                <div class="col-9"><span class="text-vaporwave fw-bold">PHOTOS</span>: Vaporwave Tape Swap 3, Aug 19, 2022</div>
            </a>

        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>